@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600;900&family=Lalezar&display=swap');
.logoText {
  font-family: 'Lalezar', cursive;
}
* {
  font-family: 'Cairo', sans-serif;
}
main {
  min-height: 80vh;
  background-color: rgb(245, 245, 248);
}
h1 {
  font-size: 1.8rem;
  padding: 0.5rem;
}
h2 {
  font-size: 1.3rem;
  padding: 0.5rem;
}
h3 {
  padding: 1rem 0;
}

.input {
  color: green;
}
.output {
  color: red;
}

.sidebar-opened {
  position: absolute;
  display: block;
  z-index: 2;
  background-color: rgb(230, 251, 239);
  right: 0;
  width: 40vw;
  height: 100vh;
  transition: width 0.5s;
}
.sidebar-closed {
  position: absolute;
  right: -250px;
  display: block;
  z-index: 2;
  background-color: rgb(230, 251, 239);
  width: 0;
  height: 100vh;
  transition: width 0.5s;
}
@media only screen and (max-width: 600px) {
  .flex-xsm-column {
    display: flex;
    flex-direction: column;
  }
  .sidebar-opened {
    width: 100vw;
  }
  .footer-text {
    font-size: small;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
